<div>
    <label>
        Name:
        <input [(ngModel)]="childName" name="name" required>
    </label>
    <label>
        Parent:
        <select [(ngModel)]="parentId" name="p_id" required>
            <option *ngFor="let parent of parents" [value]="parent.p_id">{{parent.name}}</option>
        </select>
    </label> <button (click)="saveChild()">Save Child</button>
</div>
<div *ngFor="let child of children">
    {{child.name}} (Parent ID: {{child.p_id}})
</div>
<button (click)="submitChildren()">Submit All Children</button>